# S .htaccess file.
#
# If you are able to change your webservers configuration it would be
# better to define all the things in your apache configuration instead
# of using this .htaccess file.

# Charset defaults to utf-8
AddDefaultCharset utf-8

# utf-8 charset for common filetypes
AddCharset utf-8 .html .css .js .xml .json .rss

# No XSS Protection, because of some dialogs that may have js in them
#Header set X-XSS Protection 0

#
# X-UA Compatible
#
<IfModule mod_headers.c>
    Header set X-UA-Compatible "IE=Edge"
    # mod_headers can't match by content-type, but we don't want to send this header on *everything*...
    <FilesMatch "\.(js|css|gif|png|jpe?g|pdf|xml|oga|ogg|m4a|ogv|mp4|m4v|webm|svg|svgz|eot|ttf|otf|woff|ico|webp|appcache|manifest|htc|crx|xpi|safariextz|vcf)$" >
        Header unset X-UA-Compatible
    </FilesMatch>
</IfModule>

#
# Use index.php as directory index and index.html as second choice
#
DirectoryIndex index.php index.html

#
# Pass everything through index.php with flight.
# If you want to force SSL uncomment the lines within
# this mod rewrite section.
#
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

#RewriteCond %{HTTPS} !on
#RewriteRule ^(.*) https://%{SERVER_NAME}/$1 [L,R]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
